@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

*, html {
  box-sizing: border-box;
  font-family: 'Moderustic', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: radial-gradient(circle, #ffffff 85%, rgb(170, 169, 216) 90%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
}

.title {
  margin-bottom: 20px;
}

.title h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #2b2d42;
}

.content {
  margin-bottom: 20px;
}

/* Configuración de la galería de imágenes */
.imagen-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas en la primera fila */
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.imagen-container a {
  text-align: center;
  font-size: 14px;
  color: #333;
}

.imagen-container img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: opacity 0.3s, transform 0.3s;
  border: 3px solid transparent;
}

/* Segunda fila centrada con 3 imágenes */
.imagen-container {
  grid-template-rows: auto auto; /* Dos filas */
}

.imagen-container a:nth-child(5),
.imagen-container a:nth-child(6),
.imagen-container a:nth-child(7) {
  grid-column: span 1; /* Cada imagen ocupa una columna */
  justify-self: center;
}

.imagen-container a:nth-child(5) {
  grid-column-start: 2; /* Coloca la primera imagen de la segunda fila en la segunda columna para centrar */
}

.imagen-container a:nth-child(6) {
  grid-column-start: 3; /* Coloca la segunda imagen de la segunda fila en la tercera columna */
}

.imagen-container a:nth-child(7) {
  grid-column-start: 4; /* Coloca la tercera imagen de la segunda fila en la cuarta columna */
}

.imagen-container a:hover img {
  opacity: 0.3;
  transform: translateY(-10px);
}

/* Estilo para el botón */
button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(170, 169, 216);
  font-size: 14px;
  font-weight: bold;
  color: #010221;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #F8417805;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

@media (max-width: 1200px) {
  main {
    padding: 0 10px;
  }
}

@media (max-width: 900px) {
  .imagen-container {
    grid-template-columns: 1fr;
  }

  button {
    font-size: 12px;
    padding: 8px 16px;
  }
}
